# Maven target directories
/target/
/**/target/
.m2/

# IDE files
.vscode/
*.iml
.idea/
*.ipr
*.iws

# MacOS system files
.DS_Store

# Logs
*.log

# H2 database files
/data/*.mv.db
/data/*.trace.db
/data/*.lock.db

# Temporary files
*.tmp
*.swp

# Env
.env
